<!DOCTYPE html>
<html lang="en" ng-app="PraveenApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- CSS libs -->
    <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
    <link rel="stylesheet" href="bower_components/angular-typewrite/dist/angular-typewrite.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="style/main.css"/>
    <meta name="viewport" content="initial-scale=1" />
    <title>Praveen</title>
</head>
<body ng-controller="AppCtrl">

<section flex>

    <!-- Navigation toggle -->
    <nav ng-click="navOpen = !navOpen" ng-init="navOpen = false">
        <a id="nav-toggle" class="{{ (navOpen) ? 'active' : '' }}"><span></span></a>
    </nav>

    <section flex layout="row">

        <!-- Navigation menu -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="navOpen">

            <div layout="column" id="profile">
                <div layout="column" layout-padding layout-align="center center">
                    <img class="circular" src="img/praveen.jpg"/>
                </div>
                <div layout="column" layout-align="start center">
                    <p id="profile-name">Praveen Kumar Pendyala</p>
                </div>
                <div layout="row" layout-align="center center" layout-padding>
                    <a class="fa fa-lg profile-icon fa-facebook-official" href="https://www.facebook.com/pamarru"></a>
                    <a class="fa fa-lg profile-icon fa-linkedin" href="https://in.linkedin.com/pub/praveen-kumar-pendyala/31/765/534"></a>
                    <a class="fa fa-lg profile-icon fa-github" href="https://github.com/praveendath92"></a>
                    <a class="fa fa-lg profile-icon fa-envelope" href="mailto:m@praveen.xyz"></a>
                </div>
            </div>

            <div layout="column" ng-repeat="item in menuItems">
                <md-button class="menu-item" href="#{{ item.url }}">
                    <span layout="row" layout-align="start center">
                        <i class="fa fa-lg {{ item.class }} menu-icon"></i>{{ item.text }}
                    </span>
                </md-button>
            </div>

        </md-sidenav>

        <!-- Content -->
        <md-content flex layout="column" flex layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools" layout="column" layout-align="center center">
                    <p>
                        <i class="fa fa-pinterest-square"></i>
                        <i class="fa fa-xing"></i>
                        <i class="fa fa-pinterest-square"></i>
                    </p>
                </div>
            </md-toolbar>

            <div ng-view></div>
        </md-content>
    </section>

</section>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
<script src="js/libs/angular-typewriter.js"></script>

<!-- JS -->
<script src="js/app.js"></script>
<script src="js/introduction.js"></script>
<script src="js/work.js"></script>
</body>
</html>