/* Year colors */
.year-Now{
    background-color: #4BAE4F !important;
}
.year-2015{
    background-color: #3E50B4 !important;
}
.year-2014{
    background-color: #02A8F3 !important;
}
.year-2013{
    background-color: #F34235 !important;
}
.year-2012{
    background-color: #5F7C8A !important;
}
.year-2011{
    background-color: #FEC006 !important;
}
.year-2010{
    background-color: #FEC006 !important;
}
.year-2008{
    background-color: #F34235 !important;
}

/* Project and work */
.project-details, .work-details, .study-details{
    font-size: 0.9em;
    line-height: 1.618em;
    margin-bottom: 1.618em;
    margin-top: 1.618em;
    clear: both;
}
.project-link:hover{
    color: #0077b3;
}
.project-title,.work-title{
    margin-left: 10px;
}
.project-link{
    color: grey;
    font-size: 1.5em;
    margin: 0px 8px;
}
.project-icon,.work-icon{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
a.work-title{
    text-decoration: none;
    color: inherit;
}
.work-info-icon, .study-info-icon{
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 20px;
    color: #666666;
}
.margin-top{
    margin-top: 4px;
}
.skill-item {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 4px;
    cursor: pointer;
    font-size: 0.7em;
}
.skill-item:hover {
    background: #0077b3;
    color: white;
}
.badge-text-info{
    font-size: 0.7em;
}
.timeline li {
    margin: 50px 0px;
}
.timeline-panel h4{
    margin: 0px 0px;
}
.timeline-maxwidth{
    /* Workaround */
    max-width: 1000px;
}

/* General */
body, html, .content-view{
    background-color: #FAFAFA;
}
body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#loading{
    margin: 100px 0px;
    min-height: 100px;
}
#loading-cog1{
    font-size: 2.5em;
    position: relative;
    left: 10px;
    color: #F34235;
}
#loading-cog2{
    font-size: 3em;
    position: relative;
    top: 20px;
    color: #02A8F3;
    -webkit-animation: fa-spin 2s infinite linear reverse;
    animation: fa-spin 2s infinite linear reverse;
}
#loading-cog3{
    font-size: 2.5em;
    position: relative;
    left: -10px;
    color: #FEC006;
}
.pad-top{
    padding-top: 25px;
}
.menu-btn{
    min-width: 150px;
}
.max-content-width{
    max-width: 700px;
}
.no-decoration{
    text-decoration: none !important;
}

/* About */
.title-block {
    background-color: #3F51B5;
}
#profile-img {
     width: 180px;
     height: 180px;
     border-radius: 150px;
     -webkit-border-radius: 150px;
     -moz-border-radius: 150px;
}
#profile-name{
    margin: 12px 5px 0px 5px;
    color: whitesmoke;
    font-weight: 500;
}
.profile-content{
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}
.profile-icon{
    color: whitesmoke;
    cursor: pointer;
    margin: 8px 15px 2px 15px;
    text-decoration: none;
}
.profile-icon:hover{
    color: #FE3F80;
}
.white-text{
    color:whitesmoke;
}
.grey{
    color: #5F7C8A;
}
.blue{
    color: #02A8F3;
}
.green{
    color: #4BAE4F;
}
.red{
    color: #F34235;
}
.daily-use:hover, .daily-use-exp, .daily-use-exp:hover{
    color: whitesmoke;
    background-color: #43A047;
}
.moderate:hover, .moderate-exp, .moderate-exp:hover{
    color: whitesmoke;
    background-color: #039BE5;
}
.beginner:hover, .beginner-exp, .beginner-exp:hover{
    color: whitesmoke;
    background-color: #F44336;
}
.skill-level-exp{
    font-size: 13px;
}
.full-width{
    width: 100%;
}
.skill-notation{
    padding: 10px;
}
table{
    border-collapse: collapse;
}
.skill-set{
    border-bottom: 1px solid #EEEEEE;
}
tr.skill-set > td {
    padding: 10px 0em;
}
.skill-set-icon{
    width: 20px;
    padding-left: 12px;
}
.skill-set-title{
    padding-right: 12px !important;
}
.font-13{
    font-size: 13px;
}
.resume-wrapper{
    border-top: dashed #DDDDDD 1px;
    margin-top: 4px;
}
.resume-btn{
    color: #3F51B5;
    margin: 0px;
    padding: 4px;
}
.no-bottom-pad{
    padding: 10px 10px 0px 10px;
}

/* Intro page */
.cursor{
    position: relative;
    left: -4px;
}
.terminal{
    background-color: white;
    color: black;
    max-width: 400px !important;
}
.terminal-title{
    background-color: #3F51B5;
    color: whitesmoke;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}
.terminal-content{
    padding: 8px;
    min-height: 250px;
}

/* Footer */
.footer{
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}
.footer a {
    color: #767676;
    text-decoration: none;
    padding-left: 40px;
}
.author a{
    padding-left: 10px;
    color: #767676;
}
.footer a:hover, a:active {
    text-decoration: underline;
}
.passengers{
    border-bottom: grey solid 2px;
    min-width: 40px;
    position: relative;
    top: -5px;
}
.car{
    position: relative;
    top: -6px;
}