.badge-text-info{
    font-size: 0.7em;
}
.timeline li timeline-badge {
    z-index: 30;
}
.timeline-panel h4{
    margin: 0px 0px;
}
timeline-panel {
    margin: 0px -25px;
}
.intro-msg{
    color: grey;
}
body, html, .content-view{
    color: grey;
    background-color: #FAFAFA;
}
#profile{
    width: 100%;
    min-width: 200px;
    background-color: #0077b3;
}
#profile-name{
    margin: 3px 5px 10px 5px;
    color: whitesmoke;
    font-weight: 500;
}
.profile-icon{
    color: whitesmoke;
    cursor: pointer;
    margin: 8px 20px;
    text-decoration: none;
}
.menu-icon{
    margin: 0px;
    padding: 5px 20px 5px 20px;
    width: 70px;
}
.menu-item{
    margin: 0px;
    padding: 8px 20px 8px 8px;
    color: grey;
}
.full-height{
    height: 100%;
}
.circular {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
nav {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}
#nav-toggle {
    background: transparent;
    position: fixed;
    left: 20px;
    top: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: deeppink;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    top: 10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 0.5s ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(135deg);
    background: deeppink;
}

#nav-toggle.active span:after {
    transform: rotate(-135deg);
    background: deeppink;
}