<div layout="row" layout-align="center center" class="pad-top">

    <!-- Terminal -->
    <md-card flex="40" flex-md="60" flex-sm="90" class="terminal">

        <!-- Title -->
        <div class="terminal-title" layout-align="space-between center" layout="row">
            <i class="fa fa-terminal"></i>
            <code>guest@pkp.io:~/</code>
            <i class="fa fa-times-circle"></i>
        </div>

        <!-- Content -->
        <div class="terminal-content">
            <code ng-repeat="message in messages track by $index"
                  class="intro-msg"
                  typewrite
                  type-delay="{{ params.typeDelay }}"
                  text=message
                  start=params.getStart($index)
                  initial-delay="{{ params.sentenceDelay }}"
                  callback-fn=params.doFinish($index)>
            </code>
            <i class="fa fa-i-cursor cursor {{params.allDone ? 'blink' : ''}}"></i>
        </div>

    </md-card>

</div>
