<div layout="column" layout-align="center center" class="pad-top">

    <div layout-align="center center" layout="column">
        <md-card ng-show="false">
            <md-card-content layout-align="center center" layout="column">

                <h3>Filter projects</h3>
                <div layout="row" layout-fill>
                    <!-- year filter -->
                    <md-input-container flex layout-align="center center">
                        <label>Year </label>
                        <md-select ng-model="filters.year.value">
                            <md-option ng-repeat="year in filters.year.options" value="{{year}}">
                                {{year}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <!-- Significance level filter -->
                    <md-input-container flex layout-align="center center">
                        <label>Significance level </label>
                        <md-select ng-model="filters.showlevel.value">
                            <md-option ng-repeat="level in filters.showlevel.options" value="{{level}}">
                                {{level}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
            </md-card-content>
        </md-card>

        <timeline class="safari-height-fix">
            <timeline-event ng-repeat="project in projects | filter : filters.filter">

                <!-- Badge -->
                <timeline-badge class="year-{{ project.year }}">
                    <span class="badge-text-info">{{project.year}}</span>
                </timeline-badge>

                <!-- Project info -->
                <timeline-panel class="{{ project.badgeClass }}">

                    <!-- Title -->
                    <timeline-heading>
                        <h4 layout="row" layout-align="start center" layout-padding>
                            <img ng-src="{{ project.icon }}" class="project-icon">
                            <span class="project-title">{{ project.title }}</span>
                        </h4>
                    </timeline-heading>

                    <!-- Skills -->
                    <div layout="row" layout-wrap layout-align="start start" class="margin-top">
                        <span class="skill-item" ng-repeat="skill in project.skills">
                            {{ skill }}
                        </span>
                    </div>

                    <!-- Details -->
                    <p class="project-details">{{ project.details }}</p>

                    <!-- Links -->
                    <div flex layout="row" layout-align="center center">
                        <span ng-repeat="link in project.links">
                            <a href="{{ link.url }}" class="project-link">
                                <i class="fa fa-fw {{ link.iconClass }} "></i>
                            </a>
                        </span>
                    </div>

                </timeline-panel>

            </timeline-event>
        </timeline>
    </div>
    
</div>
