 <div layout="column" layout-padding layout-align="center center">
    <img id="profile-img" src="img/praveen.jpg"/>
</div>

<div layout="column" layout-align="start center">
    <p id="profile-name">Praveen Kumar Pendyala</p>
</div>

<div layout="row" layout-align="center center" layout-padding>
    <a class="fa fa-lg profile-icon fa-facebook-official" href="https://www.facebook.com/pamarru"></a>
    <a class="fa fa-lg profile-icon fa-linkedin" href="https://in.linkedin.com/pub/praveen-kumar-pendyala/31/765/534"></a>
    <a class="fa fa-lg profile-icon fa-github" href="https://github.com/praveendath92"></a>
    <a class="fa fa-lg profile-icon fa-envelope" href="mailto:m@praveen.xyz"></a>
</div>