<div flex="100" layout="column" layout-align="center center">

    <ng-include src="'view/loading.html'"></ng-include>

    <timeline layout-fill class="timeline-maxwidth">
        <timeline-event ng-repeat="study in studies">
            <timeline-badge class="year-{{ study.year }}">
                <span class="badge-text-info">{{study.year}}</span>
            </timeline-badge>

            <timeline-panel class="{{event.badgeClass}}">
                <timeline-heading>
                    <p><i class="fa fa-graduation-cap fa-fw"></i> {{study.degree}}</p>
                </timeline-heading>

                <p>
                    <i class="fa fa-university fa-fw"></i>
                    {{ study.school }}
                </p>
                <p>
                    <i class="fa fa-map-marker fa-fw"></i>
                    {{ study.place }}
                </p>
                <p>
                    <i class="fa fa-clock-o fa-fw"></i>
                    {{ study.duration }}
                </p>
            </timeline-panel>
        </timeline-event>
    </timeline>
</div>