<div flex="100" layout="column" layout-align="center center">

    <ng-include src="'view/loading.html'"></ng-include>


    <timeline layout-fill class="timeline-maxwidth">
        <timeline-event ng-repeat="post in posts">

            <!-- Tims stamp badge -->
            <timeline-badge class="year-{{ extractYear(post.date) }}" layout-align="center center" layout="column">
                <span class="badge-text-info" layout="column">
                    <span class="day">{{ extractDay(post.date) }}</span>
                    <span class="month">{{ extractMonth(post.date) }}</span>
                </span>
            </timeline-badge>

            <!-- Post info -->
            <timeline-panel>

                <!-- Title -->
                <timeline-heading>
                    <h4 layout="row" layout-align="start center">
                        <span class="blog-list-title">{{ post.title }}</span>
                    </h4>
                </timeline-heading>

                <!-- Categories -->
                <div layout="row" layout-wrap layout-align="start start" class="margin-top">
                    <a class="tag-item" ng-repeat="cat in post.categories" ng-href="#blog/category/{{ cat }}">
                        <i class="fa fa-tag"></i> {{ cat }}
                    </a>
                </div>

                <!-- Excerpt -->
                <p class="blog-list-excerpt">{{ post.excerpt }}</p>

                <!-- Link to post -->
                <div flex layout="row" layout-align="center center">
                    <a href="#blog/post{{ post.url }}" class="blog-list-link">Read more</a>
                </div>

            </timeline-panel>

        </timeline-event>
    </timeline>
</div>