<div flex layout-align="center center" layout="row" id="loading" ng-show="!ready">
    <i class="fa fa-cog fa-spin" id="loading-cog1"></i>
    <i class="fa fa-cog fa-spin" id="loading-cog2"></i>
    <i class="fa fa-cog fa-spin" id="loading-cog3"></i>
</div>

<div flex layout="row" layout-align="center center" class="pad-top">

    <!-- Terminal content -->
    <div flex="40" flex-md="60" flex-sm="90" class="terminal" ng-show="ready">

        <!-- Title -->
        <div class="terminal-title" layout-align="center center" layout="row">
            <code>guest@pkp.io:~/</code>
        </div>

        <!-- Content -->
        <div class="terminal-content">
            <code ng-repeat="message in messages track by $index"
                  class="intro-msg"
                  typewrite
                  type-delay="{{ params.typeDelay }}"
                  text=message
                  start=params.getStart($index)
                  initial-delay="{{ params.sentenceDelay }}"
                  callback-fn=params.doFinish($index)>
            </code>
            <i class="fa fa-i-cursor cursor {{params.allDone ? 'blink' : ''}}"></i>
        </div>

    </div>

</div>
