<div flex="100" layout="column" layout-align="center center">

    <ng-include src="'view/loading.html'"></ng-include>


    <div layout-align="center center" layout="column" class="pad-top max-width-parent" ng-show="ready">

        <md-card layout-fill class="max-width-parent">
            <div layout="column" layout-align="center center" class="title-block">

                <!-- Title -->
                <h3 class="post-title">{{ post.title }}</h3>

                <div layout="row" layout-align="space-between" layout-fill>

                    <!-- Time stamp -->
                    <div layout="row" layout-wrap layout-align="center center" class="post-date" flex-sm="40">
                        <i class="fa fa-calendar"> &nbsp;</i>
                        <span layout-align="center center"> {{ extractDay(post.date) }} {{ extractMonth(post.date) }},
                            {{ extractYear(post.date) }}</span>
                    </div>

                    <!-- Categories -->
                    <div layout="row" layout-wrap layout-align="center center" flex-sm="60">
                        <a class="post-tag-item" ng-repeat="cat in post.categories" ng-href="blog/category/{{ cat }}">
                            <i class="fa fa-tag"></i> {{ cat }}
                        </a>
                    </div>
                </div>
            </div>

            <md-card-content layout-align="center center" layout="column" class="no-bottom-pad max-width-parent">
                <div class="max-width-parent" ng-bind-html="renderHtml(post.content)"></div>
            </md-card-content>

            <!-- Next and Prev post buttons -->
            <div flex layout="row" class="card-bottom-btn-wrapper">
                <md-button flex="50" class="card-bottom-btn"
                           ng-href="blog/post{{ post.previous_url }}"
                           ng-disabled="post.previous_url == null">
                    <i class="fa fa-arrow-left"></i> Previous
                </md-button>
                <md-button flex="50" class="card-bottom-btn"
                           ng-href="blog/post{{ post.next_url }}"
                           ng-disabled="post.next_url == null">
                    Next <i class="fa fa-arrow-right"></i>
                </md-button>
            </div>
        </md-card>

        <!-- Comments section -->
        <div class="pad-top" layout-fill layout-align="center center" layout="row">
            <md-button flex="100" class="card-bottom-btn" ng-init="showDiscuss = false"
                       ng-show="!showDiscuss" ng-click="showDiscuss = !showDiscuss">
                <i class="fa fa-comments"></i> Show comments
            </md-button>
            <dir-disqus flex="100"
                        disqus-shortname="pkpio"
                        disqus-identifier="{{ post.url }}"
                        disqus-url="https://pkp.io/blog/post{{ post.url }}"
                        ready-to-bind="{{ ready }}" ng-show="showDiscuss" >
            </dir-disqus>
        </div>

    </div>
</div>
